@use '../../styles/variables' as vars;

.layout-privado {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1220px;
  min-height: 100vh;
}

.layout-privado__sidebar-left {
  width: vars.$width-sidebar-left;
  flex-shrink: 0;
  border-right: 1px solid vars.$color-border;
  padding: 10px 12px;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 988px) {
    width: 68px;
    align-items: center;
    padding: 10px 0;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.layout-privado__main {
  width: vars.$width-content;
  flex-shrink: 0;
  min-height: 100vh;
  border-right: 1px solid vars.$color-border;
  background-color: vars.$color-background;
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    width: 100%;
    border-right: none;
    padding-bottom: 53px; // Safe area for mobile bottom menu
  }
}

.layout-privado__sidebar-right {
  width: vars.$width-sidebar-right;
  flex-shrink: 0;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;

  @media (max-width: 1024px) {
    display: none;
  }
}
