<div class="main-layout">
  <div class="main-layout__sidebar">
    <app-sidebar />
  </div>

  <div class="main-layout__center">
    <app-topbar />
    <main class="main-layout__content">
      <router-outlet />
    </main>
  </div>

  <aside class="main-layout__aside">
    <app-aside />
  </aside>
</div>

<app-modal
  [open]="publishModal.isOpen()"
  title="Criar publicação"
  (closed)="handleClosePublishModal()"
>
  @if (publishModal.isOpen()) {
    <app-create-post
      [modoModal]="true"
      (postCriado)="handlePostCreated()"
      (cancelado)="handleClosePublishModal()"
    />
  }
</app-modal>
