@use '../../../styles/variables' as vars;

.media-preview {
  margin-top: 10px;
  border: 1px solid vars.$color-border;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  max-height: 380px;
  display: block;
}

.media-preview__imagem {
  width: 100%;
  height: auto;
  max-height: 380px;
  object-fit: cover;
  cursor: pointer;
  display: block;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.95);
  }
}

.media-preview__video {
  width: 100%;
  height: auto;
  max-height: 380px;
  display: block;
  outline: none;
}
